In [1]:
import pandas as pd

In [2]:
anemia=pd.read_csv("children anemia.csv")

In [3]:
anemia.head()

,Age in 5-year groups,Type of place of residence,Highest educational level,Wealth index combined,Births in last five years,Age of respondent at 1st birth,Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal),Anemia level,Have mosquito bed net for sleeping (from household questionnaire),Smokes cigarettes,Current marital status,Currently residing with husband/partner,When child put to breast,Had fever in last two weeks,Hemoglobin level adjusted for altitude (g/dl - 1 decimal),Anemia level.1,"Taking iron pills, sprinkles or syrup"
0,40-44,Urban,Higher,Richest,1,22,NaN,NaN,Yes,No,Living with partner,Staying elsewhere,Immediately,No,NaN,NaN,Yes
1,35-39,Urban,Higher,Richest,1,28,NaN,NaN,Yes,No,Married,Living with her,Hours: 1,No,NaN,NaN,No
2,25-29,Urban,Higher,Richest,1,26,NaN,NaN,No,No,Married,Living with her,Immediately,No,NaN,NaN,No
3,25-29,Urban,Secondary,Richest,1,25,95.0,Moderate,Yes,No,Married,Living with her,105.0,No,114.0,Not anemic,No
4,20-24,Urban,Secondary,Richest,1,21,NaN,NaN,Yes,No,No longer living together/separated,NaN,Immediately,No,NaN,NaN,No

In [4]:
anemia.dtypes

Age in 5-year groups                                                      object
Type of place of residence                                                object
Highest educational level                                                 object
Wealth index combined                                                     object
Births in last five years                                                  int64
Age of respondent at 1st birth                                             int64
Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)    float64
Anemia level                                                              object
Have mosquito bed net for sleeping (from household questionnaire)         object
Smokes cigarettes                                                         object
Current marital status                                                    object
Currently residing with husband/partner                                   object
When child put to breast                                                  object
Had fever in last two weeks                                               object
Hemoglobin level adjusted for altitude (g/dl - 1 decimal)                float64
Anemia level.1                                                            object
Taking iron pills, sprinkles or syrup                                     object
dtype: object

In [5]:
anemia.columns

Index(['Age in 5-year groups', 'Type of place of residence',
       'Highest educational level', 'Wealth index combined',
       'Births in last five years', 'Age of respondent at 1st birth',
       'Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)',
       'Anemia level',
       'Have mosquito bed net for sleeping (from household questionnaire)',
       'Smokes cigarettes', 'Current marital status',
       'Currently residing with husband/partner', 'When child put to breast',
       'Had fever in last two weeks',
       'Hemoglobin level adjusted for altitude (g/dl - 1 decimal)',
       'Anemia level.1', 'Taking iron pills, sprinkles or syrup'],
      dtype='object')

In [6]:
anemia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33924 entries, 0 to 33923
Data columns (total 17 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Age in 5-year groups                                                   33924 non-null  object
 1   Type of place of residence                                             33924 non-null  object
 2   Highest educational level                                              33924 non-null  object
 3   Wealth index combined                                                  33924 non-null  object
 4   Births in last five years                                              33924 non-null  int64
 5   Age of respondent at 1st birth                                         33924 non-null  int64
 6   Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)  13136 non-null  float64
 7   Anemia level                                                           13136 non-null  object
 8   Have mosquito bed net for sleeping (from household questionnaire)      33924 non-null  object
 9   Smokes cigarettes                                                      33924 non-null  object
 10  Current marital status                                                 33924 non-null  object
 11  Currently residing with husband/partner                                32226 non-null  object
 12  When child put to breast                                               21168 non-null  object
 13  Had fever in last two weeks                                            30713 non-null  object
 14  Hemoglobin level adjusted for altitude (g/dl - 1 decimal)              10182 non-null  float64
 15  Anemia level.1                                                         10182 non-null  object
 16  Taking iron pills, sprinkles or syrup                                  30713 non-null  object
dtypes: float64(2), int64(2), object(13)
memory usage: 4.4+ MB

In [8]:
anemia.shape

(33924, 17)

In [10]:
anemia.isnull().sum()

Age in 5-year groups                                                         0
Type of place of residence                                                   0
Highest educational level                                                    0
Wealth index combined                                                        0
Births in last five years                                                    0
Age of respondent at 1st birth                                               0
Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)    20788
Anemia level                                                             20788
Have mosquito bed net for sleeping (from household questionnaire)            0
Smokes cigarettes                                                            0
Current marital status                                                       0
Currently residing with husband/partner                                   1698
When child put to breast                                                 12756
Had fever in last two weeks                                               3211
Hemoglobin level adjusted for altitude (g/dl - 1 decimal)                23742
Anemia level.1                                                           23742
Taking iron pills, sprinkles or syrup                                     3211
dtype: int64

In [17]:
# dropping irrelevant columns
anemia.drop(['Currently residing with husband/partner'],axis=1,inplace=True)

In [42]:
anemia.drop(['Current marital status'],axis=1,inplace=True)

In [44]:
# further cleaning of the dataset

In [68]:
anemia.duplicated().sum()

52

In [71]:
anemia.drop_duplicates(inplace=True)

In [72]:
anemia.duplicated().sum()

0

In [73]:
anemia.shape

(10010, 13)

In [74]:
anemia.dropna(inplace=True)

In [75]:
anemia.shape

(10010, 13)

In [76]:
anemia.isnull().sum()

Age in 5-year groups                                                     0
Type of place of residence                                               0
Highest educational level                                                0
Wealth index combined                                                    0
Births in last five years                                                0
Age of respondent at 1st birth                                           0
Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)    0
Anemia level                                                             0
Have mosquito bed net for sleeping (from household questionnaire)        0
Smokes cigarettes                                                        0
Had fever in last two weeks                                              0
Hemoglobin level adjusted for altitude (g/dl - 1 decimal)                0
Taking iron pills, sprinkles or syrup                                    0
dtype: int64

In [77]:
anemia['Age in 5-year groups'].value_counts()

Age in 5-year groups
25-29    2820
30-34    2361
35-39    1785
20-24    1716
40-44     713
15-19     336
45-49     279
Name: count, dtype: int64

In [78]:
anemia['Age of respondent at 1st birth'].value_counts()

Age of respondent at 1st birth
17    1103
18    1031
16    1005
20     935
19     894
21     695
15     693
22     605
23     498
24     463
14     341
25     323
26     283
27     238
28     155
13     149
29     144
30     115
12      88
31      83
32      54
34      34
33      28
36      15
35      10
37       8
38       7
39       5
41       3
40       2
45       1
43       1
42       1
Name: count, dtype: int64

In [79]:
anemia['Anemia level'].value_counts()

Anemia level
Not anemic    4143
Moderate      3002
Mild          2717
Severe         148
Name: count, dtype: int64

In [80]:
anemia['Births in last five years'].value_counts()

Births in last five years
2    5179
1    3602
3    1135
4      92
6       2
Name: count, dtype: int64

In [81]:
anemia['Had fever in last two weeks'].value_counts()

Had fever in last two weeks
No            7290
Yes           2718
Don't know       2
Name: count, dtype: int64

In [82]:
anemia['Have mosquito bed net for sleeping (from household questionnaire)'].value_counts()

Have mosquito bed net for sleeping (from household questionnaire)
Yes    6859
No     3151
Name: count, dtype: int64

In [83]:
anemia['Hemoglobin level adjusted for altitude (g/dl - 1 decimal)'].value_counts()

Hemoglobin level adjusted for altitude (g/dl - 1 decimal)
102.0    308
108.0    298
104.0    295
109.0    276
98.0     272
        ...
162.0      1
37.0       1
29.0       1
165.0      1
145.0      1
Name: count, Length: 119, dtype: int64

In [84]:
anemia['Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)'].value_counts()

Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)
113.0    303
116.0    290
108.0    287
112.0    278
114.0    273
        ...
161.0      1
27.0       1
55.0       1
167.0      1
162.0      1
Name: count, Length: 116, dtype: int64

In [85]:
anemia['Highest educational level'].value_counts()

Highest educational level
No education    3789
Secondary       3609
Primary         1713
Higher           899
Name: count, dtype: int64

In [86]:
anemia['Smokes cigarettes'].value_counts()

Smokes cigarettes
No     9986
Yes      24
Name: count, dtype: int64

In [87]:
anemia['Taking iron pills, sprinkles or syrup'].value_counts()

Taking iron pills, sprinkles or syrup
No            7976
Yes           2003
Don't know      31
Name: count, dtype: int64

In [88]:
anemia['Type of place of residence'].value_counts()

Type of place of residence
Rural    6103
Urban    3907
Name: count, dtype: int64

In [89]:
anemia['Wealth index combined'].value_counts()

Wealth index combined
Middle     2221
Richer     2115
Poorest    2002
Poorer     1979
Richest    1693
Name: count, dtype: int64

In [91]:
#exporting cleaned dataset into a csv file

In [95]:
anemia.to_csv('Anemia.csv',index=False)

In [94]:
anemia.shape

(10010, 13)